/* Reset */
* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: top;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Typograph */
:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Layouts */
.l_wrapper {
    width: 960px;
    margin: 0 auto;
}

.l_row {
    margin: 0 -15px;
    padding: 30px 0;
    margin-bottom: -30px;
}

.l_col {
    width: 33.33333333%;
    padding: 0 15px 30px 15px;
    float: left;
}

/* Commons */
.clearfix::before,
.clearfix::after {
    content: ' ';
    display: table;
}

.clearfix::after {
    clear: both;
}

.hide {
    display: none;
}


/* Components */
/******* header�곸뿭 ********/
.header {
    background: url(images/header-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    background-image: url(images/container-bg.png);
    background-repeat: no-repeat;
    background-position: right 30px top 30px;
    border-width: 30px 30px 0 30px;
    border-style: solid;
    padding: 40px 40px 0 40px;
    margin-top: 100px;
    color: orange;
}

.container h1 {
    display: inline-block;
    font-weight: normal;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative;
}

.container h1 strong {
    margin-right: 0.4em;
}

.container h1::after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -13px;
    height: 5px;
    background-color: currentColor;
}

.container p {
    justify-content: ;
    line-height: 25px;
    max-width: 500px;
    padding-bottom: 40px;
}

/******* section�곸뿭 ********/
.thumbnail {
    background-color: #ccc;
    color: orange;
}

.thumbnail-box {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.thumbnail-box a {
    display: block;
}

.thumbnail-box p {
    height: 50px;
    border-top: 3px solid;
    background-image: url(images/play.png);
    background-repeat: no-repeat;
    background-position: right center;
    line-height: 50px;
    padding-left: 25px;
    text-transform: capitalize;
}

/******* footer �곸뿭 ********/
.footer {
    text-align: center;
    padding: 50px;
    border-top: 3px solid #ccc;
    color: #bbb;
    font-size: 0.75em;
    letter-spacing: 1.25em;
}







/* ================= 誘몃뵒�댁옘由� ================= */
/* ================= maxwidth 960px ================= */
@media screen and (max-width: 960px) {
    :root {
        font-size: 20px;
    }

    .l_wrapper {
        width: auto;
    }

     /* Components */
     .container {
        background-image: none;
        border-width: 15px 15px 0 15px;
        text-align: center;
        margin-top: 0;
    }

    .container h1 strong {
        display: block;
        margin-right: 0;
    }

    .container p {
        margin: 0 auto;
    }




/* ================= maxwidth 767px ================= */
@media screen and (max-width: 767px) {
    /* Layouts */
    .l_wrapper {
        width: auto;
    }

    .l_row {
        margin: 0 -15px;
        padding: 30px 15px;
        margin-bottom: -30px;
    }

    .l_col {
        width: 50%;
        padding: 0 15px 30px 15px;
        float: left;
    }

    /* Components */
    .thumbnail-box img {
        width: 100%;
    }

    .footer {
        letter-spacing: 0.1em;
    }

}




    
/* ================= maxwidth 520px ================= */
@media screen and (max-width: 520px) {
    /* Layouts */
    .l_col {
        width: 100%;
    }

    /* Components */
    .container h1 {
        display: block;
    }


}