@charset "UTF-8";

/* Reset */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeeeee;
}

li {
    list-style: none;
}

img {
    width: 100%;
    vertical-align: top;
}

/* Typograph */
:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1, h2 {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Layouts */
.l_row {
    margin: 0 -10px -10px -10px;
    overflow: hidden;
}

.l_row::after {
    content: ' ';
    display: block;
    clear: both;
}

.l_col {
    float: left;
    padding: 0 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    overflow: hidden;
}

/* Module */
.l_col_12_12 { width: 100%; }
.l_col_11_12 { width: 91.66666667%; }
.l_col_10_12 { width: 83.33333333%; }
.l_col_9_12 { width: 75%; }
.l_col_8_12 { width: 66.66666667%; }
.l_col_7_12 { width: 58.33333333%; }
.l_col_6_12 { width: 50%; }
.l_col_5_12 { width: 41.66666667%; }
.l_col_4_12 { width: 33.33333333%; }
.l_col_3_12 { width: 25%;}
.l_col_2_12 { width: 16.66666667%; }
.l_col_1_12 { width: 8.33333333%; }

/* Components */
/* ============== cover영역 ============== */
.cover {
    padding-top: 50%;
    background-image: url(images/cover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    position: relative;
}

.cover h1 {
    font-size: 10vh;
    line-height: 1;
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding: 20px;
}

/* ============== contents영역 ============== */
.contents {
    padding: 20px;
}

.section {
    background-color: #fff;
    padding: 20px;
}

.section + .section {
    margin-top: 20px;
}

.section-title {
    font-size: 25px;
    margin-bottom: 0.5em;
}

.section-contents {
    color: #999;
}

.section-contents p {
    line-height: 1.4;
    word-break: break-all;
}

.coffee {
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #eee;
    overflow: hidden;
}


.arrow {
    display: block;
    background-color: orange;
    padding: 24px;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
}

.arrow_left {
    text-align: left;
}

.arrow_right {
    text-align: right;
}

/* ============== footer영역 ============== */
.footer {
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.15em;
    color: #999;
    margin-bottom: -20px;
    padding: 20px;
}






/* Mediaquries */
@media ( min-width: 768px ) {

    /* Module */
    .l_col_pc_12_12 { width: 100%; }
    .l_col_pc_11_12 { width: 91.66666667%; }
    .l_col_pc_10_12 { width: 83.33333333%; }
    .l_col_pc_9_12 { width: 75%; }
    .l_col_pc_8_12 { width: 66.66666667%; }
    .l_col_pc_7_12 { width: 58.33333333%; }
    .l_col_pc_6_12 { width: 50%; }
    .l_col_pc_5_12 { width: 41.66666667%; }
    .l_col_pc_4_12 { width: 33.33333333%; }
    .l_col_pc_3_12 { width: 25%;}
    .l_col_pc_2_12 { width: 16.66666667%; }
    .l_col_pc_1_12 { width: 8.33333333%; }

    /* Components */
    .cover {
        padding-top: 0;
        position: fixed;
        width: 50vw;
        height: 100vh;
    }

    .contents {
        margin-left: 50vw;
    }



}